<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WolfArt</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="https://live.staticflickr.com/65535/53288220839_a77cab3c20_o.png" type="image/png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pag-login.css">
    <link rel="stylesheet" href="/css/pag-obras.css">
    <link rel="stylesheet" href="/css/pag-detalles-obras.css">
</head>
<body>
    
