<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex align-items-center">
                <img class="logoLobito me-2" src="https://live.staticflickr.com/65535/53288220839_a77cab3c20_o.png" alt="logoLobito">
                <a class="navbar-brand" href="/obra/obras">LoboArt</a>
            </div>
            <div class="d-flex align-items-center"> 
                <form class="d-flex me-2" role="search" action="/obra/buscarObra" method="POST">
                    <input class="form-control me-2" name="search" type="search" placeholder="Buscar obra" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" id="menu-admin" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Menu
                    </button>
                    <ul class="dropdown-menu">
                        <% if (typeof usuario !== 'undefined' && usuario && usuario.id) { %>
                            <li><a class="dropdown-item" href="/editar/<%= usuario.id %>">Editar Usuario</a></li>
                        <% } %>
                        <li><a class="dropdown-item" href="/modificarCuenta">ModificarCuenta/a></li>
                        <li><a class="dropdown-item" href="/obra/obras">Ver obras</a></li>
                        <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                        <li><a class="dropdown-item" href="/borrarCuenta">Borrar Cuenta</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
