<br>
<br>
<!-- Remove the container if you want to extend the Footer to full width. -->


    <section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: rgb(40, 99, 218);">
  
      <!-- Grid container -->
      <div class="p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">

          <p class="d-flex justify-content-center align-items-center">
            ¡Ayúdanos a Seguir Con Nuestro Proyecto a través de PayPal!
            <form action="https://www.paypal.com/donate" method="post" target="_top">
              <input type="hidden" name="hosted_button_id" value="PFKLT88U8NKK2" />
              <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donar con el botón PayPal" />
             <img alt="" border="0" src="https://www.paypal.com/es_MX/i/scr/pixel.gif" width="1" height="1" />
              </form>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://wolfart.onrender.com/">WolfArt.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
    
  </div>
  <!-- End of .container -->

</body>
</html>