<%- include("../templates/header") %>
<center>
    
<h1 class="welcome">Bienvenido a WolfArt</h1>
<h2 class="slogan">Un rincón para la creatividad sin fronteras</h2>

<img class="logoLobito" src="https://live.staticflickr.com/65535/53288220839_a77cab3c20_o.png" alt="logoLobito">
<br>
<br>
<br>
<a href="/login" title="entrar"><img src="https://live.staticflickr.com/65535/53321214513_3a06f8242c_o.png" /></a>
<br>
<br>
<br>

</center>

<%- include("../templates/pie") %>