<%- include("../templates/encabezado") %>

<div class="login-body">
  <div class="login-container">
    <form action="/login" method="POST" class="form-login">
    <h1 class="title-login">Inicio de sesion</h1>
    <div class="inp-login">
      <input type="text" name="usuario" id="usuario" class="input-login" placeholder="Usuario">
      <i class="fa-solid fa-lock"></i>
    </div>
    <div class="inp-login">
      <input type="password" name="password" id="password" class="input-login" placeholder="Contraseña">
      <i class="fa-solid fa-lock"></i>
    </div>
    <button class="submit-login" type="submit" value="Iniciar sesión"> Iniciar sesión</button>
    <p class="footer-login">¿No tienes cuenta?
      <br>
      <br>
      <a href="/nuevousuario" class="link-login"><h4>Registrate</h4> </a></p>    
  </form>

  <div></div>
    <div class="banner-login">
      <h1 class="wel_text"><br/></h1>
      <p class="para-login"><img class="logo-login" src="https://live.staticflickr.com/65535/53288220839_a77cab3c20_o.png" alt="logoLobito"></p>
    </div>
  </div>
</body>

