.logoLobito{
    display: block;
    width: 350px;
    height: 350px;
}

body {
    background-image: url("https://live.staticflickr.com/65535/53321209403_dafcf58e04_o.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}

.welcome{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    
}

.slogan{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-style: italic;
}



container-comentarios {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.comment-list {
    list-style: none;
    padding: 0;
}
.comment-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}
.comment-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.comment-item li {
    margin-bottom: 10px;
}
.comment-item li:last-child {
    margin-bottom: 0;
}
/* Estilos para las listas anidadas */
.comment-item ul li {
    border: none;
    padding: 5px;
    background-color: transparent;
}

