 body {
    background-image: url('https://live.staticflickr.com/65535/53288119828_42800e3ec3_o.png');     
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.87; 
  }
  /*
  .custom-container {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.custom-card {
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 800px; /*modifica el tamaño del todo container o eso (prueba) 
    margin: 0 auto; 
}

.custom-header {
    font-size: 30px;
}

.custom-form-group {
    margin-bottom: 30px;
}

.custom-label {
    font-weight: bold;
}

.custom-input {
    width: 100%;   /*modifica el tamaño de usuario y de contraseña
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.custom-btn {
    background-color: #007bff;
    color: #fff;
}

.custom-link {
    text-decoration: none;
    color: #007bff;
    margin-left: 10px;
}

.welcome {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  margin-top: 0; 
}

.slogan {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
}

.logo-and-welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.welcome-text {
    flex: 1;
    text-align: center;
}

.tab-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

.tab-group .tab {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-group .tab.active {
    background-color: white;
    color: #fff;
    border: none;
}

.tab-content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tab-content:first-child {
    display: block;
} */


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-body{
    
    width: 100vw;
    height: 100vh;
    background-image: url('https://live.staticflickr.com/65535/53288119828_42800e3ec3_o.png');
    display: grid;
    justify-content: center;
    align-items: center;
}
.login-container {
    position: relative;
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #ffffff;
    background-color: #6c757d;
    background-size: cover;
    background-position: center;
  }
::-webkit-input-placeholder{
    color: #eee;
}

.wrapper{
    position: relative;
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-login{
    font-size: 35px;
    color:#fff;
}
.inp-login{
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}
.input-login{
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 17px;
    color:#0ef;
}
.submit-login{
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    color:#fff;
    background: linear-gradient(45deg, #0ef, #c800ff);
}

.footer-login{
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
}

.link-login{
    color: #0ef;
    text-decoration: none;
}

.banner-login{
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: linear-gradient(to right, #0ef, #c800ff);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.wel_text{
    font-size: 40px;
    margin-top: -50px;
    line-height: 50px;
}

.para-login{
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.logo-login{
    width: 175px;
    height: 175px;
    margin-right: 2px;
}
