.obra-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 50px; 
  }
  
  .obra-card {
    width: 100%; 
  }
  
  .obra-img {
    height: 450px;
    object-fit: cover;
  }
  
  .obra-title {
    font-size: 1.25rem;
  }
  
  .obra-artist, .obra-year {
    font-size: 0.9rem;
  }
  
  .obra-details-btn {
    font-size: 0.9rem;
  }
